*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    margin: auto;
}
.container{
    align-items: center;
    justify-content: center;
    display: flex;
}
/************** testa ****************/
header{
    height:4rem ;
    background-color: aqua;
}
.testa{
    line-height: 2rem;
    height: 2rem;
    background-color: yellow;
    border:1px dashed black;
}
.mid{
    width: 30rem;
    text-align: center;
}
.dx{
    width: 10rem;
    text-align: right;
}
.sx{
    width: 10rem;
    text-align: left;
}
/*************** main ********************/
.alto{
    height:20rem;
    background-color: blue;
}

/* .fuksia{
    background-color: fuchsia;
    width: 35rem;
    height:15rem;
}

.pinkdx{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 25rem;
    background-color: white;
}
.pinksx{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 25rem;
    background-color: grey;
}

.blu{
    height: 20rem;
    width: 30rem;
    background-color: rgb(26, 124, 124);
}

.pink{
    background-color: magenta;
    height: 20rem;
    width: 20rem; */
}








